home/.config/tmux/plugins/
home/.config/hypr/custom.lua
home/.config/ghostty/themes/matugen
home/.config/hypr/colors.lua
home/.config/nvim/colors.json
home/.config/ohmyposh/anarchy.toml
home/.config/quickshell/Theme/Theme.qml
home/.config/tmux/generated.conf
home/.config/tmux/tmux2k-colors.conf
home/.config/anarchy/custom.zsh
